@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Exo+2:ital,wght@0,100..900;1,100..900&family=IM+Fell+English+SC&family=WDXL+Lubrifont+TC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Exo+2:ital,wght@0,100..900;1,100..900&family=IM+Fell+English+SC&family=Raleway:ital,wght@0,100..900;1,100..900&family=WDXL+Lubrifont+TC&display=swap');


.wrapper {
    max-width: 350px;
    width: 100%;
    background: rgba(142, 142, 142, 0.3);
    padding: 25px;
    border-radius: 5px;
    box-shadow: 4px 4px 2px rgba(87, 87, 87, 1);
    margin: 0 auto;
}

.wrapper h2 {
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: white;
    font-family: "Exo 2", sans-serif;
}

.wrapper .input_field {
    margin-bottom: 10px;
}

.wrapper .input_field input[type="text"],
.wrapper textarea {
    border: 1px solid #e0e0e0;
    width: 100%;
    padding: 10px;
    Font-family: "Raleway", sans-serif;
}

.wrapper textarea {
    resize: none;
    height: 80px;

}

.wrapper .btn input[type="submit"] {
    border: 0px;
    margin-top: 15px;
    padding: 10px;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    font-family: "Exo 2", sans-serif;
    margin-left: 10px;
}

#error_message {
    margin-bottom: 20px;
    background: rgba(87, 87, 87, 1);
    padding: 0px;
    text-align: center;
    font-size: 14px;
    transition: all 0.5s ease;

    font-family: "Exo 2", sans-serif;
}

.formulario {
    margin-right: 20px;
}